
<%- include ("partials/header") %>

<div class="container-fluid cf-safetyTips">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Safety Tips</h1>
            <ul class="list-group">
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Children are allowed to ignite firecrackers only under adult supervision.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Keep the firecrackers at one arm distance away from face while lighting.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Never try to relight or pickup that firecracker that doesn't ignite. Leave it or throw water on it.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Store the firecrackers in a dry and cool place.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Always keep buckets of water near while bursting crackers incase of fire breakouts.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Light a firework one at a time.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Don't throw burning crackers on others.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Never burst crackers placing inside a container.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Ignite fancy shot items at least 40mts away.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Don't burst sound firecrackers near hospitals and schools.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Bursting crackers near petrol bulks and living zone is prohibited.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Put vehicles in a garage while bursting fireworks.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Don't put fireworks in your pocket.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Choose to Wear cotton cloths, avoid long loose clothes while lighting fireworks.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Wear footwear while lighting fireworks.</li>
                <li class="list-group-item"><i class="bi bi-arrow-bar-right coneIcon"></i> Never experiment the crackers, or make your own fireworks.</li>
              </ul>
              <h4 style="text-align:center; padding: 5%; font-weight: bold; color: red;"> <i class="bi bi-command"></i> Arunjunai Traders wishes you a happy & safe Diwali <i class="bi bi-command"></i></h4>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>